@import "tailwindcss";

/* Mengaktifkan variabel warna khusus untuk project kamu */
@theme {
  --color-neo-yellow: #FACC15;
}

/* Base style untuk body */
@layer base {
  body {
    /* v4 sekarang menggunakan standar CSS modern */
    background-color: var(--color-zinc-50);
    color: var(--color-zinc-900);
  }
}

/* Class sakti Neo-Brutalism kamu */
@layer components {
  .neo-brutal {
    background-color: var(--color-neo-yellow);
    border: 4px solid black;
    box-shadow: 8px 8px 0px 0px black;
    transition: all 0.2s;
  }

  .neo-brutal:hover {
    transform: translate(-2px, -2px);
    box-shadow: 12px 12px 0px 0px black;
  }
}